#root {
  max-width: 1280px;
  box-sizing: border-box;
  min-width: 100%;
  padding: 25px;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 675px;
  min-height: 100vh;
  background-color:#66a2ad;
  background-image: url('/public/images/scribbletext_repeating_opaque.png');
  background-size: 40%;
  border-radius: 0;
}

h2 {
  color: #35656f;
}

.card-container {
  text-align: left;
  display: grid;
  /* grid-template-columns: 1fr 2fr;
grid-template-rows: 2fr 2fr auto; */
  grid-template-areas:
    "banner banner banner"
    "user editor editor"
    "portfolio editor editor"
    "reader reader reader";
  grid-template-columns: 1fr 2fr;
  flex-grow: 3;
  background-color: #d5c3af;
  padding: 2em;
  margin: 1em;
  margin-right: 5em;
  margin-left: 5em;
  gap: 25px;
}

.card {
  flex-grow: 3;
  padding: 1em;
  background-color: white;
  box-shadow: 2px 2px 1px #358795b9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 15px;
}

.library-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 10px;
  margin-top: 20px;
}

.collection-thumbnail{
  min-height: 200px;
  width: 500px;
  overflow: hidden;
  box-shadow: 3px 3px 3px #2c5e6791;
  background: rgb(255,255,255);
  background: linear-gradient(30deg,rgba(191,228,230,1) 0%, rgb(251, 238, 216) 100%);
}

.collection-thumbnail-inner {
  margin: 10px;
}

.story-row {
  background-color: #ffffff35;
  border-radius: 0;
  border: 0px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #35656f62;;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: #35656f;
}

.story-row span{
  font-size: 145%;
}

.story-row button{
  background-color: #5f98a228;
}

.read-the-docs {
  color: #35656f;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 1250px) {
  .card-container {
    text-align: left;
    display: grid;
    /* grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 2fr auto; */
    grid-template-areas:
      "banner"
      "user"
      "portfolio"
      "editor"
      "reader";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    flex-grow: 3;
    background-color: #d5c3af;
    padding: 2em;
    margin: 1em;
    margin-right: 1em;
    margin-left: 1em;
    gap: 15px;
  }
}